{% extends 'base.html' %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <p>
                <input type="text" name="login" placeholder="login">
            </p>
            <p>
                <input type="password" name="password_1" placeholder="password">
            </p>
            <p>
                <input type="password" name="password_2" placeholder="password repeat">
            </p>
            <p>
                <input type="text" name="first_name" placeholder="first name">
            </p>
            <p>
                <input type="text" name="last_name" placeholder="last name">
            </p>
            <p>
                <input type="email" name="email" placeholder="email ">
            </p>
            <button>finish registration</button>
        </form>
    </div>

{% endblock %}