<!doctype html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Younko</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'logo.png' %}" height="40px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                  <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'shorts-list' %}">Shorts</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        {% if request.user.profile %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' request.user.profile.id %}">Profile</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'add-profile' %}">Add profile</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'saved-posts' %}">SavedPosts</a>
                        </li>
                        <li class="nav=item">
                            <a class="nav-link" href="{% url 'add-post' %}">New post</a>
                        </li>
                        <li class="nav=item">
                            <a class="nav-link" href="{% url 'add-short' %}">New short</a>
                        </li>
                        <li class="nav=item">
                            <a class="nav-link" href="{% url 'sign-out' %}">Sign out</a>
                        </li>
                      {% else %}
                        <li class="nav=item">
                            <a class="nav-link" href="{% url 'registration' %}">Sign up</a>
                        </li>
                        <li class="nav=item">
                            <a class="nav-link" href="{% url 'sign-in' %}">Log in</a>
                        </li>
                    {% endif %}
                  </ul>
                  <form class="d-flex" action="/posts/search-result" method="GET">
                    <input class="form-control me-2" type="text" placeholder="Enter your request" name="key_word">
                      <a>
                    <button class="btn btn-primary" type="button">Search</button>
                  </form>
                </div>
              </div>
        </nav>
        <div class="row">
            <div class="col-2">
                <div>
                    {% if request.user.is_authenticated %}
                        Hello {{ request.user.username }}
                    {% else %}
                        Log in
                    {% endif %}
                </div>
                <div class="my-focus">
                    <a href="/">
                        Home
                    </a>
                </div>
                <div class="my-focus">Interesting</div>
                <div class="my-focus">
                    <a href="{% url 'shorts-list' %}">
                        Shorts
                    </a>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="my-focus">Direct</div>
                    <div class="my-focus">
                        <a href="{% url 'notifications' %}">
                            Notifications - {{ request.user.notification_set.count }}
                        </a>
                    </div>
                {% endif %}
                {% if request.user.profile %}
                        <div class="my-focus">
                            <a href="{% url 'profile' request.user.profile.id %}">Profile</a>
                        </div>
                {% else %}
                        <div class="my-focus">
                            <a href="{% url 'add-profile' %}">Add profile</a>
                        </div>
                {% endif %}
            </div>
            <div class="col-10">
                {% if messages %}
                    <div class="massages">
                        {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% block content %}

                {% endblock %}
            <div/>
        </div>
</body>
</html>