{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h2>Post</h2>
<div>
    <a href="{% url 'user-posts' post.user.id %}">
        Author: {{ post.user.username }}
   </a>
</div>
<div>
    Header: {{ post.name }}
</div>
    {% if post.photo %}
        <img src="{{ post.photo.url }}" height="200px">
    {% endif %}
<div>
    Description: {{ post.description }}
</div>
<div>
    Likes qty: {{ post.likes }}
</div>
<br>
<h3>Add comment</h3>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button class="btn btn-info">Add</button>

</form>
{% endblock %}