{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h2>Post</h2>
<div>
    <a href="{% url 'user-posts' post.user.id %}">
        Author: {{ post.user.username }}
   </a>
</div>
<div>
    Header: {{ post.name }}
</div>
    {% if post.photo %}
        <img src="{{ post.photo.url }}" height="200px">
    {% endif %}
<div>
    Description: {{ post.description }}
</div>
<div>
    Likes qty: {{ post.likes }}
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <button name="like">Like</button>
    </form>
</div>
<div>
    {% if post in request.user.savedposts.post.all %}
        <div class="alert alert-success">Already in saved</div>
    {% else %}
        <form action="/add-saved/" method="POST">
            {% csrf_token %}
            <input type="number" name="post_id" value="{{ post.id }}" hidden>
            <button class="btn btn-dark">Save</button>
        </form>
    {% endif %}
</div>
<br>
<h3>Add comment</h3>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button class="btn btn-info">Add</button>
</form>
<h3>Comments</h3>
{% for comment in comments %}
    <div>
        <b>{{ comment.created_by.username }}</b>: {{ comment.comment_text }}
    </div>
{% endfor %}
{% endblock %}