{% extends 'base.html' %}
{% block content %}
    <h2>Nickname: {{ profile.nickname }}</h2>
    <div>
        <img src="{{ profile.photo.url }}" height="200px">
    </div>
    <div>{{ profile.description }}</div>
      <div>Subscribers: {{ profile.subscribers.count }}</div>
    <h3>
        <a href="{% url 'subscriptions' profile.user.id %}">
            Subscriptions
        </a>
    </h3>
    <h3>List of subscribers:</h3>
    <div>
        {% for user in profile.subscribers.all %}
            <div>{{ user.username }}</div>
        {% endfor %}
    </div>

    <p>
        {% if request.user in profile.subscribers.all %}
            <form action="/posts/subscribe/{{ profile.id }}/" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Unfollow</button>
            </form>
        {% else %}
            <form action="/posts/subscribe/{{ profile.id }}/" method="POST">
                {% csrf_token %}
                <button class="btn btn-info">Follow</button>
            </form>
        {% endif %}
    </p>


    <h2>User posts</h2>

    <div class="row container">
        {% for post in profile.user.posts.all %}
            <div class="post col-lg-4 col-md-6">
                <a href="/posts/{{ post.id }}">
                    {{ post.name }}
                </a>
                {% if post.photo %}
                    <div>
                        <a href="/posts/{{ post.id }}">
                            <img src="{{ post.photo.url }}">
                        </a>
                    </div>
                {% endif %}
                <p>
                    Likes: {{ post.likes }}
                </p>
            </div>

        {% endfor %}
    </div>
{% endblock %}