{% extends 'base.html' %}
{% block content %}
<div>
    Author: {{ short.user.username }}
</div>
<div>
    <video width="200" controls src="{{ short.video.url }}">
    </video>
</div>
<div>
    Views: {{ short.views_qty }}
</div>
<div>
    Unique Views: {{ short.viewed_users.count }}
</div>
<div>
    Added at {{ short.created_at }}
</div>
    <div>
        Description {{ short.description }}
    </div>
    <a href="{% url 'update-short' short.id %}" class="btn btn-info">
        Change
    </a>
{% endblock %}